<div class="aside-and-grid">
    <aside>
        <div class="inner-aside">
            <h1 class="ingredients-header">All Favorites</h1>
            <ul class="ingredient-list">
                <li>Recipe 1</li>
                <li>Recipe 2</li>
            </ul>
        </div>
    </aside>
    <aside>
        <div class="inner-aside">
            <a href="sunday.html">
                <h1 class="ingredients-header">Sunday</h1>
            </a>
            <ul class="ingredient-list">
                <li>Recipe 1</li>
                <li>Recipe 2</li>
            </ul>
        </div>
    </aside>
    <aside>
        <div class="inner-aside">
            <a href="monday.html">
                <h1 class="ingredients-header">Monday</h1>
            </a>
            <ul class="ingredient-list">
                <li>Recipe 1</li>
                <li>Recipe 2</li>
            </ul>
        </div>
    </aside>
    <aside>
        <div class="inner-aside">
            <a href="tuesday.html">
                <h1 class="ingredients-header">Tuesday</h1>
            </a>
            <ul class="ingredient-list">
                <li>Recipe 1</li>
                <li>Recipe 2</li>
            </ul>
        </div>
    </aside>
    <aside>
        <div class="inner-aside">
            <a href="wednesday.html">
                <h1 class="ingredients-header">Wednesday</h1>
            </a>
            <ul class="ingredient-list">
                <li>Recipe 1</li>
                <li>Recipe 2</li>
            </ul>
        </div>
    </aside>
    <aside>
        <div class="inner-aside">
            <a href="thursday.html">
                <h1 class="ingredients-header">Thursday</h1>
            </a>
            <ul class="ingredient-list">
                <li>Recipe 1</li>
                <li>Recipe 2</li>
            </ul>
        </div>
    </aside>
    <aside>
        <div class="inner-aside">
            <a href="friday.html">
                <h1 class="ingredients-header">Friday</h1>
            </a>
            <ul class="ingredient-list">
                <li>Recipe 1</li>
                <li>Recipe 2</li>
            </ul>
        </div>
    </aside>
    <aside>
        <div class="inner-aside">
            <a href="saturday.html">
                <h1 class="ingredients-header">Saturday</h1>
            </a>
            <ul class="ingredient-list">
                <li>Recipe 1</li>
                <li>Recipe 2</li>
            </ul>
        </div>
    </aside>
</div>