/* You can add global styles to this file, and also import other style files */
body {
    /* background-color: rgb(204, 245, 232); */
    background-color: black;
    /* color: rgb(204, 245, 232); */
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}