<div class="search">
    <label>Add Ingredients</label>
    <input type="text" name="Ingredients">
</div>
<div class="aside-and-grid">
    <aside>
        <div class="inner-aside">
            <h1 class="ingredients-header">Ingredients</h1>
            <ul class="ingredient-list">
                <li>Spinach</li>
                <li>Almond Flour</li>
                <li>Almond Flour</li>
                <li>Almond Flour</li>
                <li>Almond Flour</li>
                <li>Almond Flour</li>
                <li>Almond Flour</li>
                <li>Almond Flour</li>
            </ul>
        </div>
        <div class="inner-aside">
            <h1 class="ingredients-header">Favorites</h1>
            <ul class="ingredient-list">
                <li>Recipe 1</li>
                <li>Recipe 2</li>
            </ul>
        </div>
    </aside>
    <app-list-recipe-suggested></app-list-recipe-suggested>
</div>