<div class="cards">
    <!-- <app-recipe-card *ngFor="let recipeObj of SuggestedRecipes" [rObj]="recipeObj"></app-recipe-card> -->
    <div class="card" *ngFor="let recipeObj of SuggestedRecipes">
        <img src="{{recipeObj.recipe.image}}" class="card-img-top" alt="Recipe Image">
        <div class="card-body">
            <h5 class="card-title">{{recipeObj.recipe.label}}</h5>
            <a href="{{recipeObj.recipe.url}}" class="card-text">Link to recipe</a>
            <button class="fave">Favorite</button>
            <p class="card-text"><small class="text-muted">{{recipeObj.recipe.ingredientLines}}</small></p>
        </div>
    </div>
</div>