<!DOCTYPE HTML>
<html lang="en">
  
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale-1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="meal.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Left for Bread</title>
</head>

<body class="body">
    <header>
      <figure>
        <img class="logo" src="Logo2.png" alt="Left for Bread logo">
      </figure>
      <!-- Left for Bread -->
    </header>
    <main>
      <a href="mainpage.html">Search for Recipes</a>
      <br>
      <a href="weekly.html">Weekly Plan Page</a>
      <h1 class="day">Saturday Breakfast</h1>
      <div class="aside-and-grid">
        <aside>
          <div class="inner-aside">
            <h1 class="ingredients-header">Saturday Meal Times</h1>
            <ul class="ingredient-list">
              <li><a href="saturdaybreakfast.html">Breakfast</li></a>
              <li><a href="saturdaylunch.html">Lunch</li></a>
              <li><a href="saturdaydinner.html">Dinner</li></a>
            </ul>
          </div>
        </aside>
        <aside>
            <div class="inner-aside">
              <h1 class="ingredients-header">Other Days</h1>
              <ul class="ingredient-list">
                <li><a href="sunday.html">Sunday</li></a>
                <li><a href="monday.html">Monday</li></a>
                <li><a href="tuesday.html">Tuesday</li></a>
                <li><a href="wednesday.html">Wednesday</li></a>
                <li><a href="thursday.html">Thursday</li></a>
                <li><a href="friday.html">Friday</li></a>
                <li><a href="saturday.html">Saturday</li></a>
              </ul>
            </div>
          </aside>
        <div class="cards">
          <div class="card">
            <img src="example.jpg" class="card-img-top" alt="Recipe Image">
            <div class="card-body">
              <h5 class="card-title">[Recipe Title]</h5>
              <p class="card-text">[Recipe Description]</p>
              <p class="card-text"><small class="text-muted">[Ingredients from inputted list that are in this recipe]</small></p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      Pearl Hacks 2023
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>