<figure>
    <img class="logo" src="assets/images/Logo2.png" alt="Left for Bread logo">
</figure>
<!-- Left for Bread -->
<nav class="navbar navbar-expand-xl navbar-light bg-primary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 d-flex align-items-center">
            </div>
            <div class="col-4 d-flex align-items-center justify-content-center">
                <a class="navbar-brand" routerLink="/">Explore Recipes</a>
                <a class="navbar-brand" routerLink="/weekly-plan">Weekly Plan</a>
            </div>
        </div>
    </div>
</nav>